<ul>
  <li>
    <button id="scrape-kcna-action-button" class="action-button">Scrape KCNA</button>
  </li>
  <li><button id="track-crypto-action-button" class="action-button">Track Crypto</button></li>
</ul>
