<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs", {title: "500"}) %>
  </head>
  <body>
    <%- include("includes/error-page.ejs") %>
    <h3>[500 ERROR]</h3>
  </body>
</html>
